$btnShadowColor: rgba(82, 82, 82, 0.747);



ul {
  list-style-type: none;
}

.buttons {
  float: right;

  button {
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 3px 2px $btnShadowColor;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.495);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 800px;
  height: 700px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.modal-content-edit {
  width: 1200px;
  height: 1000px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
}

/* Style the close button */
.close:hover {
  color: red;
}

.theButtons{
  width: 40px;
  height: 40px;
  float: up;
}